* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title {
    font-size: 30px;
    color: #333;
}

ul {
    position: relative;
    left: 30px;
}

.reload {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}

.hide {
    display: none;
}