/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Start Variables */
:root {
    --light-blue: #1a7bd1;
    --dark-gray: #2c2d3f;
    --light-gray: #757575;
    --bg-white: #f6f6f6;
    --bg-newsletter: #edf2ff;
}
/* End Variables */

/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    color: var(--dark-gray);
}

h2, h3 {
    font-weight: 600;
}

p {
    color: var(--light-gray);
    font-size: 14px;
}
/*End Global Rules*/

/*start Components*/
.text-primary {
    color: var(--light-blue);
}

.btn {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    transition: all 0.3s;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.special-heading {
    font-size: 32px;
    max-width: 600px;
    font-weight: 600;
    margin: auto;
}

.special-heading + img {
    margin: 20px 0;
}

.special-p {
    font-size: 16px;
    max-width: 500px;
    margin: auto;
    font-weight: 300;
    line-height: 1.6;
}

.cta-section {
    padding: 6rem 0;
    position: relative;
    z-index: 1;
    color: #fff;
}

.cta-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light-blue);
    opacity: 0.8;
    z-index: -1;
}
/* End Components */

/* Start Header */
#home .navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

#home .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    min-height: 70px;
    margin: auto;
    padding: 0 2rem;
}

#home .navbar nav ul {
    display: flex;
}

#home .navbar nav ul a {
    color: var(--dark-gray);
    font-weight: 500;
    margin: 0 15px;
    transition: all 0.3s;
}

#home .navbar nav ul a:hover {
    color: var(--light-blue);
}

#home .navbar .logo {
    width: 250px;
}

#home .main-content {
    background: url('./images/main-bg.jpeg') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#home .main-content .col {
    width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

#home .main-content .col small {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

#home .main-content .col small img {
    vertical-align: middle;
}

#home .main-content .col h1 {
    font-size: 40px;
    max-width: 600px;
    line-height: 1.4;
}

#home .main-content .col p {
    margin: 1rem 0 2rem;
    max-width: 500px;
    line-height: 1.6;
}

.btn-header-primary {
    background: var(--light-blue);
}

.btn-header-primary:hover {
    background: #0e5aa7;
}

.btn-header-secondary {
    background: var(--dark-gray);
}

.btn-header-secondary:hover {
    background: #1a1b2d;
}
/* End Header */

/* Start About */
#about {
    padding: 6rem 0;
}

#about .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin-top: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 25px;
}

#about .about-content .col-1 hr {
    width: 60px;
    height: 3px;
    background: var(--light-blue);
    border: none;
    margin: 10px 0;
}

#about .about-content .col-1 p {
    font-size: 16px;
    margin-bottom: 25px;
    max-width: 500px;
    line-height: 1.6;
}

#about .about-content .col-1 .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#about .about-content .col-1 .list li {
    margin-bottom: 5px;
    color: var(--light-gray);
}

#about .about-content .col-1 .list i {
    color: var(--light-blue);
    margin-right: 5px;
}

#about .about-content .col-2 img {
    width: 100%;
}
/* End About */

/* Start info */
#info {
    background: url('./images/info-bg.jpg') no-repeat center center/cover;
}

#info .info-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#info .info-content .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info .info-content .col i {
    font-size: 30px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.3s;
}

#info .info-content .col:hover i {
    background: #fff;
    color: var(--light-blue);
}

#info .info-content .col span {
    font-size: 30px;
    font-weight: 600;
}

#info .info-content .col p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    max-width: 200px;
}
/* End info */

/* start help */
#help {
    padding: 6rem 0;
}

#help .help-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
    align-items: center;
    text-align: center;
}

#help .help-content .col {
    position: relative;
}

#help .help-content .col:first-child::before, 
#help .help-content .col:nth-child(2)::before {
    content: '';
    border-bottom: 4px dotted var(--light-blue);
    position: absolute;
    width: 118px;
    top: 40px;
    right: -75px;
}

#help .help-content .col i {
    font-size: 30px;
    color: var(--light-blue);
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.3s;
}

#help .help-content i:hover {
    background: var(--light-blue);
    color: #fff;
}

#help .help-content .col h3 {
    font-size: 25px;
    margin: 20px 0;
}
/* End help */

/* Start call */
#call {
    background: url('./images/call-bg.jpg') no-repeat center center/cover;
    text-align: center;
}

#call .call-content {
    max-width: 600px;
    margin: auto;
}

#call .call-content h2 {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

#call .call-content p {
    color: #fff;
    font-size: 16px;
    margin: 20px 0;
}

.btn-call-primary {
    background: #fff;
    color: var(--light-blue);
    border: 1px solid #fff;
}

.btn-call-primary:hover {
    background: var(--light-blue);
    color: #fff;
}

.btn-call-secondary {
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-call-secondary:hover {
    background: #fff;
    color: var(--dark-gray);
}

#call .call-content a {
    margin-right: 20px;
}
/* End call */

/* Start services */
#services {
    padding: 6rem 0;
}

#services .services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 3rem;
    margin-top: 5rem;
    align-items: center;
}

#services .services-content .item {
    display: flex;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#services .services-content .item i {
    font-size: 40px;
    color: var(--light-blue);
    margin-right: 20px;
}

#services .services-content .item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
/* End services */

/* Start price-list */
#price-list {
    padding: 6rem 0;
    background-color: var(--bg-white);
}

#price-list .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 5rem;
}

#price-list .content .col {
    background-color: #fff;
    padding: 3rem 2rem;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#price-list .content .col .price-details {
    text-align: center;
}

#price-list .content .col .price-details i {
    font-size: 60px;
    color: var(--light-blue);
}

#price-list .content .col .price-details h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0;
}

#price-list .content .col .price-details p {
    color: var(--light-blue);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
}

#price-list .content .col .price-details p span {
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 300;
}

#price-list .content .col  ul {
    margin-top: 2rem;
}

#price-list .content .col  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: var(--light-gray);
}

#price-list .content .col  ul li i.fa-circle-check {
    color: var(--light-blue);
}


#price-list .content .col .btn {
    background: var(--light-blue);
    display: block;
    text-align: center;
    margin-top: 25px;
}

#price-list .content .col .btn:hover {
    background: #fff;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
/* End price-list */

/* Start brand */
#brand {
    background: url('./images/info-bg.jpg') no-repeat center center/cover;
}

#brand .brand-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#brand .brand-content img{
    max-width: 200px;
    margin-bottom: 20px;
}
/* End brand */

/* Start doctors */
#doctors {
    background: var(--bg-white);
    padding: 6rem 0;
}

#doctors .doctors-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}

#doctors .doctors-content .doctor {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#doctors .doctors-content .doctor img {
    width: 100%;
    height: 350px;
    border-bottom: 1px solid #ddd;
}

#doctors .doctors-content .doctor .doctor-details {
    padding: 2rem 0;
}

#doctors .doctors-content .doctor h3 {
    font-size: 20px;
}

#doctors .doctors-content .doctor p {
    color: var(--light-blue);
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 20px;
}

#doctors .doctors-content .doctor .btn {
    background: var(--light-blue);
    border-radius: 50px;
}

#doctors .doctors-content .doctor .btn:hover {
    background: transparent;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
/* End doctors */

/* Start blogs */
#blogs {
    padding: 6rem 0;
}

#blogs .blogs-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
}

#blogs .blogs-content .blog {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#blogs .blogs-content .blog img {
    width: 100%;
}

#blogs .blogs-content .blog .blog-details {
    padding: 2rem;
    position: relative;
}

#blogs .blogs-content .blog .blog-details::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--light-blue);
    height: 2px;
    width: 0;
    transition: all 0.3s;
}

#blogs .blogs-content .blog:hover .blog-details::before {
    width: 100%;
}

#blogs .blogs-content .blog p.date {
    display: inline-block;
    background: var(--light-blue);
    color: #fff;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 5px;
}

#blogs .blogs-content .blog h3 {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
}
/* End blogs */

/* Start contact */
#contact {
    padding: 6rem 0;
    background: var(--bg-white);
}

#contact .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin-top: 6rem;
}

#contact .contact-content .form-control {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 20px;
}

#contact .contact-content .form-control input, 
#contact .contact-content .form-control select,
#contact .contact-content textarea {
    padding: 15px;
    width: 100%;
    color: var(--light-gray);
    outline-color: var(--light-blue);
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact button {
    background: var(--light-blue);
    border: none;
    padding: 15px 30px;
    margin: 25px 0;
}

#contact .contact-content img {
    justify-self: end;
    max-width: 100%;
}
/* End contact */

/* newsletter start */
#newsletter {
    padding: 5rem 0;
    background: var(--bg-newsletter);
}

#newsletter .newsletter-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

#newsletter .newsletter-content h2 {
    margin-bottom: 10px;
}

#newsletter .newsletter-content form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#newsletter .newsletter-content form input {
    padding: 15px;
    width: 100%;
    color: var(--light-gray);
    outline-color: var(--light-blue);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    border-radius: 5px;
}

#newsletter .newsletter-content form button {
    background: var(--light-blue);
    border: none;
    padding: 15px 30px;
    width: 100%;
    border-radius: 5px;
}

#newsletter .newsletter-content form button:hover {
    background-color: transparent;
    color: var(--light-blue);
    border: 1px solid var(--light-blue);
}
/* newsletter end */

/* Start Footer Styling */
/* General Styles */
.footer-top {
    background: var(--dark-gray);
    padding: 6rem 0;
}

.footer-top .footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 1.5fr;
    gap: 3rem;
}

.footer-top .footer-content p, 
.footer-top .footer-content h2,
.footer-top .footer-content a,
.footer-top .footer-content li {
    color: #fff;
}

.footer-top .col hr {
    width: 60px;
    height: 3px;
    background: var(--light-blue);
    border: none;
    margin: 10px 0 20px;
}

/* Column 1: About Us */
.footer-top .col-1 h2 {
    font-size: 22px;
}

.footer-top .col-1 p {
    margin-top: 10px;
}

.footer-top .col-1 .social {
    margin-top: 20px;
}

.footer-top .col-1 .social a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    transition: all 0.3s;
}

.footer-top .col-1 .social a:hover {
    color: var(--light-blue);
}

/* Column 2: Quick Links */
.footer-top .col-2 ul {
    margin-top: 20px;
}

.footer-top .col-2 ul li {
    margin-bottom: 10px;
}

.footer-top .col-2 ul li a {
    color: var(--light-gray);
    font-size: 16px;
}

.footer-top .col-2 ul li a:hover {
    color: var(--light-blue);
    transform: translateX(10px);
}

.footer-top .col-2 ul li i {
    color: var(--light-blue);
    margin-right: 10px;
}

/* Column 3: Open Hours */
.footer-top .col-3 p {
    margin-top: 10px;
}

.footer-top .col-3 ul {
    margin-top: 10px;
}

/* Column 4: Newsletter */
.footer-top .col-4 form input {
    width: 100%;
    padding: 15px;
    color: #fff;
    background: transparent;
    outline-color: var(--light-blue);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
}

.footer-top .col-4 {
    position: relative;
}

.footer-top .col-4 .btn {
    position: absolute;
    right: 0;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    background: #fff;
    color: var(--light-blue);
    border-radius: 5px;
    font-weight: 500;
    margin-top: 20px;
}

/* Footer Bottom */
.footer-bottom {
    background: var(--light-blue);
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    color: #fff;
}

.footer-bottom p a {
    color: #000;
    font-weight: 600;
    margin-left: 5px;
    transition: all 0.3s;
}

.footer-bottom p a:hover {
    color: #fff;
}
/* End Footer Styling */

/* Start Media Queries */
@media (max-width: 800px)
{
    #home .navbar nav {
        flex-direction: column;
    }
    #home .navbar .logo {
        width: 150px;
    }

    #home .navbar nav ul a {
        margin: 0 4.5px;
    }

    #about .about-content, 
    #help .help-content,
    #contact .contact-content,
    #newsletter .newsletter-content,
    #services .services-content,
    #price-list .content,
    #blogs .blogs-content,
    #doctors .doctors-content,
    .footer-top .footer-content{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    #info .info-content {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    #info .info-content .col {
        text-align: center;
    }

    #info .info-content .col i {
        margin-right: 8px;
        font-size: 25px;
    }

    #info .info-content .col span {
        font-size: 25px;
    }

    #info .info-content .col p {
        font-size: 14px;
    }

    #brand .brand-content {
        justify-content: center;
    }

    #contact .contact-content img {
        display: none;
    }

    #help .help-content .col:first-child::before, 
    #help .help-content .col:nth-child(2)::before {
        display: none;
    }
}

@media (max-width: 390px)
{
    #home .navbar nav {
        min-height: 80px;
    }

    #home .navbar .logo {
        width: 120px;
    }

    #home .navbar nav ul a {
        margin: 0 3px;
    }

    #home .main-content .col h1 {
        font-size: 30px;
    }

    #home .main-content .col p {
        font-size: 14px;
    }

    #home .main-content .col a {
        margin-bottom: 10px;
    }
}
